Repository sibyllinesoft/mimir, changes with the owners that CODEOWNERS names for each.
All owners: @mimir-development-team, @security-team, @mcp-team, @pipeline-team, @devops-team, @monitoring-team, @docs-team, @maintainers

chore(structure): history-preserving moves for better organization
  _meta/baseline.json
  ops/compose/monitoring.yml
  tests/integration/test_integration_complete.py
  tests/integration/test_integration_simple.py
  tests/integration/test_lens_foundation.py
  tests/integration/test_pipeline_direct.py
  tests/integration/test_pipeline_simple.py
Owners: @mimir-development-team, @devops-team

docs: update README with monitoring capabilities
  README.md
Owners: @docs-team

Add cleanup enforcement CI workflow
  .github/workflows/cleanup-enforcement.yml
Owners: @devops-team

Complete repository cleanup framework execution
  .github/PULL_REQUEST_TEMPLATE.md
  MAINTENANCE.md
  REPOSITORY_CLEANUP_SUMMARY.md
Owners: @devops-team, @docs-team

Enable Skald monitoring by default with high reporting
  README.md
  pyproject.toml
  src/repoindex/mcp/monitored_server.py
Owners: @docs-team, @maintainers, @mcp-team

Fix Skald import: remove ExecutionContext dependency
  src/repoindex/mcp/monitored_server.py
Owners: @mcp-team

feat(testing): Achieve comprehensive test coverage reaching 85.63%
  loadouts/core/deep-intelligence-gathering.yml
  loadouts/core/quick-overview.yml
  loadouts/experimental/ai-assisted-refactoring.yml
  loadouts/specialized/security-focused-analysis.yml
  loadouts/specialized/typescript-deep-analysis.yml
  src/cli.ts
  src/mcp/server.ts
  src/research/intelligence-engine.ts
  src/research/loadout-manager.ts
  src/research/metrics-system.ts
  src/research/swarm-reporter.ts
  src/research/types.ts
  src/utils/filesystem.ts
  tests/integration/cli-integration.test.ts
  tests/unit/config.test.ts
  tests/unit/discovery.test.ts
  tests/unit/filesystem.test.ts
  tests/unit/intelligence-engine.test.ts
  tests/unit/lens-client.test.ts
  tests/unit/loadout-manager.test.ts
  tests/unit/logger.test.ts
  tests/unit/mcp-server.test.ts
  tests/unit/metrics-system.test.ts
  tests/unit/swarm-reporter.test.ts
  tests/unit/symbols.test.ts
  tests/unit/types.test.ts
Owners: @mimir-development-team

CODEOWNERS:

# Repository code owners
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners
* @mimir-development-team

# Core architecture and security
/src/repoindex/security/ @security-team
/src/repoindex/mcp/ @mcp-team
/src/repoindex/pipeline/ @pipeline-team

# Infrastructure and deployment
/ops/ @devops-team
/docker-compose*.yml @devops-team
/Dockerfile* @devops-team
/.github/ @devops-team

# Monitoring and observability
/src/repoindex/monitoring/ @monitoring-team
/monitoring_config.yaml @monitoring-team
/scripts/trace_viewer.py @monitoring-team
/scripts/setup_monitoring.py @monitoring-team

# Documentation
/docs/ @docs-team
/*.md @docs-team

# Dependencies and configuration
/pyproject.toml @maintainers
/requirements.txt @maintainers
/uv.lock @maintainers
